// $used-fonts:()
//
// @mixin track-fonts($family, $weight, $style) {
//   @if map-has-key($used-fonts, $family)==false{
//     @used-fonts: map-merge($used-fonts($family())) !global
//   }
//   $weight-style: if($style==normal, $weight, #{$weight}#{$style})
//   $font-map: map-get($used-fonts, $family)
//
//   @if index($font-map, $weight-style)==null{
//     $variations: append($font-map, $font-style)
//     $used-fonts: map-merge($used-fonts, ($family: $variations))!global
//   }
//
// }
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic|PT+Sans+Caption:400,700|PT+Sans+Narrow:400,700);
$used-fonts: ();

@mixin track-fonts($family, $weight, $style) {
  // First check if we already knew this one:
  @if map-has-key($used-fonts, $family) == false {
    // Font-family isn't in the map yet, so add it.
    // The key for the nested map is the font name:
    $used-fonts: map-merge($used-fonts, ($family: ())) !global;
  }

  // Now check if this weight and style are known,
  // using Google's "400italic" notation.
  // If style is "normal", only use the weight:
  $weight-style: if($style == normal, $weight, #{$weight}#{$style});
  $font-map: map-get($used-fonts, $family);
  @if index($font-map, $weight-style) == null {
    // Weight and style aren't in the map yet, so add it:
    $variations: append($font-map, $weight-style);
    $used-fonts: map-merge($used-fonts, ($family: $variations)) !global;
  }
}

@mixin font($family, $weight: 400, $style: normal ) {
font-family: $family;
font-weight: $weight;
font-style: $style;
}
