@import "../../bourbon/_bourbon.scss";

.banner {
  background: #999999;
  height: 300px;
  margin: 20px;
}
.box {
  background: #999999;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
.box-thumbnail {
  background: #999999;
  height: 150px;
  width:150px;
  margin: 20px auto;
}
.center-text{
  font-size: 8em;
  @include position(relative);
  top: 50%;
  margin: 0 auto;
}

.box-round {
  background: #999999;
  border-radius: 15px 50px;
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.shadow {
  position: relative;
}
.shadow:before, .shadow:after{
  z-index: -1;
 position: absolute;
 content: "";
 bottom: 15px;
 left: 10px;
 width: 50%;
 top: 80%;
 max-width:300px;
 background: #777;
 box-shadow: 0 15px 10px #777;
 transform: rotate(-3deg);
}
.shadow:after{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
