$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower
@import "font";
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  @include font("PT Sans");
  padding: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//   padding-left: 15px;
//   padding-right: 15px;
// }
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
/* Supporting marketing content */
.marketing {
  margin: 0;
  p + h4 {
    margin-top: 28px;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  //navbar dropdown on hover
  .dropdown {
    .dropdown-menu {
      // background-color: rgba(192, 192, 192, 0.6);
      form {
        * {
          @include margin(0 0 3px 0);
        }
      }
      // &:before {
      //   position: absolute;
      //   top: -7px;
      //   left: 229px;
      //   display: inline-block;
      //   border-right: 7px solid transparent;
      //   border-bottom: 7px solid #ccc;
      //   border-left: 7px solid transparent;
      //   border-bottom-color: rgba(0, 0, 0, 0.2);
      //   content: '';
      // }
      // &:after {
      //   position: absolute;
      //   top: -6px;
      //   left: 230px;
      //   display: inline-block;
      //   border-right: 6px solid transparent;
      //   border-bottom: 6px solid #ffffff;
      //   border-left: 6px solid transparent;
      //   content: '';
      // }
    }
    &:hover {
      .dropdown-menu {
        @include display(block);
      }
    }
  }
}
// Responsive: Portrait below tablets
@media screen and (max-width: 768px){
  #logInBtn{
    position: relative;
    margin-left: 15px;
    float: left !important;
  }
  .dropdown-menu{
    float: left !important;
  }
  #logInDropdown{
    width: 100%;
  }

  input[name="username"]{
    margin-bottom: 5px;
  }

}
//set navbar on in front of jumbotron and add a light opacity
.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  z-index: 2;
}
//set login button & form for small devices

//cursor pointer on hover
.owl-item img {
  &:hover {
    cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move !important;
    // cursor: grab;
  }
  &:active {
    cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move !important;
  }
}
.grabbing {
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
}
.owl-wrapper {
  cursor: pointer;
}

#signInBtn {
  width: 100%;
  transition: all 0.2s ease;
}
footer{
  background-color: #1F1F1F;
  .center{
    margin: 0 auto;
    float: none;
  }
  ul.unstyled{
    list-style: none;
    padding: 0;
  }
}
