@import "font"
@import "featurette"

.main

.jumbotron
  h1
    @include font("PT Sans", 700)

.box
  background: rgba(0, 0, 0, .2)
  height: 500px
  margin: 20px

.box-round
  background: rgba(0, 0, 0, .2)
  border-radius: 15px 50px
  height: 150px
  width: 150px
  margin: 0 auto
