@import "font";
@import "featurette";
@import "../../bourbon/_bourbon.scss";

.main {}

.jumbotron {
  h1 {
    @include font("PT Sans", 700);
  }
}
img{
  width: 100%;
  object-fit: fill;
  cursor: pointer;
}

.spotlight {
  padding-left: 150px;
}

.text-left.featurette {
  margin-left: 100px;
}

.box {
  background: #999999;
  height: 400px;
  margin: 20px;
}
.center-text{
  font-size: 8em;
  @include position(relative);
  top: 50%;
}

.box-round {
  background: #999999;
  border-radius: 15px 50px;
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
