<div class="container-fluid mainContainer">
  <div class="row headRow text-center">
    <!--FORUM HEADER-->
    <h2>Forums</h2>
  </div>
  <!--END FORUM HEADER-->
  <div class="featurette-divider-short"></div>
  <div class="row col-xs-10 form-post">
    <!--FORUM POST-->
    <div class="col-sm-1 text-center ranking-indicator">
      <!--RANKING INDICATOR-->

      <div class="row">
        <div class="col-sm-12">
          <span class="glyphicon glyphicon-chevron-up">
        </div>
        </span>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <span class="label label-default">{{ranking}}3</span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </div>
      </div>

    </div>
    <!--END RANKING INDICATOR-->

    <div class="col-sm-2 profile-thumbnail">
      <!--FORUM PROFILE THUMBNAIL-->
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/danbenoni/73.jpg" alt="" class="img-responsive img-circle profile-thumbnail" />
    </div>
    <!--END FORUM PROFILE THUMBNAIL-->

    <div class="col-sm-10">
      <!--FORUM POST DATA-->
      <div class="post shadow">
        <h4 class="post-header lead">Post Header
          <small class="post-author">Author Name</small>
        </h4>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
        <p>1/1/2011
          <a href="#" class="">
            <span>
              <strong> 51 comments </strong>
            </span>
          </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
          </span>
        </p>
      </div>
    </div>
    <!--FORUM POST DATA-->
  </div>
  <!--END FORUM POST-->
  <!-- FORUM SEARCH -->
  <div class="col-sm-2">
    <div class="container-fluid search-post">
      <div class="row">
        <div class="col-xs-12 text-center">SEARCH</div>
      </div>
      <div class="row">
        <form action="" class="form-inline">
          <div class="col-xs-12 form-group">
            <input type="text" name="search" value="" placeholder="TITLE, KEYWORD, DATE" class="form-control">
            <select class="form-control">
              <option>Post</option>
              <option>Title Only</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="featurette-divider"></div>
</div>
