<div class="container-fluid">
  <header class="row headRow text-center">
    <!--FORUM HEADER-->
    <h1>Forum</h1>
  </header>
</div>
<!--END FORUM HEADER-->





<div class="col-xs-12 text-center">

  <!-- FORUM POST SEARCH SECTION -->
  <label for="">Search</label>
  <form action="" class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="search-input">Email address</label>
      <input type="text" id="search-input" class="form-control" placeholder="SEARCH">
    </div>
    <div class="form-group">

      <select class="select-picker form-control" data-life-search="true" title="Search Filter">
        <option value="">Title</option>
        <option value="">Date</option>
        <option value="">Author</option>
      </select>
    </div>
  </form>
</div>
<!-- END FORUM POST SEARCH SECTION -->

<hr class="divider featurette-divider">

<!-- FORUM POST SECTION -->
<div class="col-sm-12 ">
  <div class="post-container">
    <!-- POST RANK INDICATOR -->
    <div class="col-xs-1 text-center">
      <div class="col-xs-12">
        <span class="fa  fa-chevron-up"></span>
      </div>
      <div class="col-xs-12">
        <span class="label label-default">5</span>
      </div>
      <div class="col-xs-12">
        <span class="fa  fa-chevron-down"></span>
      </div>
    </div>
    <!-- END POST RANK INDICATOR -->

    <!-- FORUM POST THUMBNAIL -->
    <div class="col-xs-1 profile-thumbnail">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/abinav_t/128.jpg" alt="" class="img-responsive img-circle profile-thumbnail" />
    </div>
    <!--  END FORUM POST THUMBNAIL -->

    <!-- FORUM POST BODY -->
    <div class="col-xs-10">
      <div class="col-xs-12">
        <div class="post shadow">
          <h4 class="post-header lead">Post Header
            <small class="post-author">Author Name</small>
          </h4>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
          <p>1/1/2011
            <a href="#" class="">
              <span>
                <strong> 51 comments </strong>
              </span>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- END FORUM POST BODY -->
  </div>
  <div class="post-container">
    <!-- POST RANK INDICATOR -->
    <div class="col-xs-1 text-center">
      <div class="col-xs-12">
        <span class="fa  fa-chevron-up"></span>
      </div>
      <div class="col-xs-12">
        <span class="label label-default">2</span>
      </div>
      <div class="col-xs-12">
        <span class="fa  fa-chevron-down"></span>
      </div>
    </div>
    <!-- END POST RANK INDICATOR -->

    <!-- FORUM POST THUMBNAIL -->
    <div class="col-xs-1 profile-thumbnail">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/danbenoni/73.jpg" alt="" class="img-responsive img-circle profile-thumbnail" />
    </div>
    <!--  END FORUM POST THUMBNAIL -->

    <!-- FORUM POST BODY -->
    <div class="col-xs-10">
      <div class="col-xs-12">
        <div class="post shadow">
          <h4 class="post-header lead">Post Header
            <small class="post-author">Author Name</small>
          </h4>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
          <p>1/1/2011
            <a href="#" class="">
              <span>
                <strong> 51 comments </strong>
              </span>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- END FORUM POST BODY -->
  </div>
  <div class="post-container">
    <!-- POST RANK INDICATOR -->
    <div class="col-xs-1 text-center">
      <div class="col-xs-12">
        <span class="fa  fa-chevron-up"></span>
      </div>
      <div class="col-xs-12">
        <span class="label label-default">1</span>
      </div>
      <div class="col-xs-12">
        <span class="fa  fa-chevron-down"></span>
      </div>
    </div>
    <!-- END POST RANK INDICATOR -->

    <!-- FORUM POST THUMBNAIL -->
    <div class="col-xs-1 profile-thumbnail">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/azielsilas/128.jpg" alt="" class="img-responsive img-circle profile-thumbnail" />
    </div>
    <!--  END FORUM POST THUMBNAIL -->

    <!-- FORUM POST BODY -->
    <div class="col-xs-10">
      <div class="col-xs-12">
        <div class="post shadow">
          <h4 class="post-header lead">Post Header
            <small class="post-author">Author Name</small>
          </h4>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
          <p>1/1/2011
            <a href="#" class="">
              <span>
                <strong> 51 comments </strong>
              </span>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- END FORUM POST BODY -->
  </div>
  <div class="post-container">
    <!-- POST RANK INDICATOR -->
    <div class="col-xs-1 text-center">
      <div class="col-xs-12">
        <span class="fa  fa-chevron-up"></span>
      </div>
      <div class="col-xs-12">
        <span class="label label-default">1</span>
      </div>
      <div class="col-xs-12">
        <span class="fa  fa-chevron-down"></span>
      </div>
    </div>
    <!-- END POST RANK INDICATOR -->

    <!-- FORUM POST THUMBNAIL -->
    <div class="col-xs-1 profile-thumbnail">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/th3ya0vi/128.jpg" alt="" class="img-responsive img-circle profile-thumbnail" />
    </div>
    <!--  END FORUM POST THUMBNAIL -->

    <!-- FORUM POST BODY -->
    <div class="col-xs-10">
      <div class="col-xs-12">
        <div class="post shadow">
          <h4 class="post-header lead">Post Header
            <small class="post-author">Author Name</small>
          </h4>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
          <p>1/1/2011
            <a href="#" class="">
              <span>
                <strong> 51 comments </strong>
              </span>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- END FORUM POST BODY -->
  </div>
  <div class="post-container">
    <!-- POST RANK INDICATOR -->
    <div class="col-xs-1 text-center">
      <div class="col-xs-12">
        <span class="fa  fa-chevron-up"></span>
      </div>
      <div class="col-xs-12">
        <span class="label label-default">0</span>
      </div>
      <div class="col-xs-12">
        <span class="fa  fa-chevron-down"></span>
      </div>
    </div>
    <!-- END POST RANK INDICATOR -->

    <!-- FORUM POST THUMBNAIL -->
    <div class="col-xs-1 profile-thumbnail">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/themadray/128.jpg" alt="" class="img-responsive img-circle profile-thumbnail" />
    </div>
    <!--  END FORUM POST THUMBNAIL -->

    <!-- FORUM POST BODY -->
    <div class="col-xs-10">
      <div class="col-xs-12">
        <div class="post shadow">
          <h4 class="post-header lead">Post Header
            <small class="post-author">Author Name</small>
          </h4>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
          <p>1/1/2011
            <a href="#" class="">
              <span>
                <strong> 51 comments </strong>
              </span>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="fa-stack fa-lg">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- END FORUM POST BODY -->
  </div>
</div>
<!-- END FORUM POST SECTION -->
<div class="row ">


</div>
</div>
