<head>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>

  <!-- Owl Carousel Assets -->
  <link href="../styles/owl.carousel.css" rel="stylesheet">
  <link href="../styles/owl.theme.css" rel="stylesheet">

<body>

  <div id="title">
    <div class="container">
      <div class="row">
        <div class="span12 text-center">
          <h1>Full Browser Width</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="demo">

    <div id="owl-demo" class="owl-carousel">

      <div class="item">
        <h1>1</h1>
      </div>
      <div class="item">
        <h1>2</h1>
      </div>
      <div class="item">
        <h1>3</h1>
      </div>
      <div class="item">
        <h1>4</h1>
      </div>
      <div class="item">
        <h1>5</h1>
      </div>
      <div class="item">
        <h1>6</h1>
      </div>
      <div class="item">
        <h1>7</h1>
      </div>
      <div class="item">
        <h1>8</h1>
      </div>
      <div class="item">
        <h1>9</h1>
      </div>
      <div class="item">
        <h1>10</h1>
      </div>
      <div class="item">
        <h1>11</h1>
      </div>
      <div class="item">
        <h1>12</h1>
      </div>

    </div>

  </div>


  <!-- <script src="bower_components/jquery/dist/jquery.js"></script> -->
  <script src="../scripts/venders/owl.carousel.js"></script>

  <!-- Demo -->

  <style>
    #owl-demo .item {
      background: #ccc;
      padding: 30px 0px;
      margin: 15px;
      color: #FFF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
    }
  </style>

  <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        navigation: true,
        singleItem: true
      });
    });
  </script>



</body>
