<div class="main text-center">
  <div class="jumbotron">
    <h1>Landing Page!</h1>
    <div class="lead">
      <p>
        first thing you should see when going to https://www.blacksintechnology.net
      </p>

    </div>
  </div>

  <hr class="divider featurette-divider">

  <div class="container-fluid">
    <div class="row">
      <div class="box col-sm-3 featurette-image"></div>
      <div class="col-sm-4 text-right featurette">
        <div class="featurette-heading">
          Article title
          <span class="text-muted">With Text Muted</span>
        </div>
        <p>
          <small>By: Author's Name</small>
        </p>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </p>
        <p class="lead">
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
        </p>
      </div>
    </div>
  </div>

  <hr class="divider featurette-divider">

  <!-- Event Section -->
  <div class="row">
    <div class="col-sm-4">
      <div class="box-round"></div>
      <h2>Event Header</h2>
      <p class="lead">
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
      </p>
    </div>
    <div class="col-sm-4">
      <div class="box-round"></div>
      <h2>Event Header</h2>
      <p class="lead">
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
      </p>
    </div>
    <div class="col-sm-4">
      <div class="box-round"></div>
        <h2>Event Header</h2>
      <p class="lead">
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
      </p>
    </div>
  </div>
</div>
