<div class="container-fluid mainContainer">
  <div class="row headRow text-center">
    <h2>Podcasts</h2>
  </div>
  <hr class="divider featurette-divider-short">
  <div class="container" id="podcastArchive">
    <div class="row">
      <div class="box-thumbnail col-sm-3 podcastImg">{{img}}</div>
      <div class="col-sm-8 col-sm-push-1 podcastInfo">
        <h3><a href="">Podcast Title {{Title}}</a>
          <br><small>By: BIT {{Author}}</small>
        </h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque, autem in libero nostrum rerum eaque sint reprehenderit velit harum excepturi, fugiat asperiores necessitatibus beatae? Incidunt molestiae fuga, corrupti laudantium!
        {{description}}
      </div>
    </div>
    <div class="row">
      <div class="box-thumbnail col-sm-3 col-sm-push-9 podcastImg "></div>
      <div class="col-sm-8 col-sm-pull-3 podcastInfo ">
        <h3><a href="">Podcast Title</a>
          <br><small>By: BIT</small>
        </h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque, autem in libero nostrum rerum eaque sint reprehenderit velit harum excepturi, fugiat asperiores necessitatibus beatae? Incidunt molestiae fuga, corrupti laudantium!
      </div>
    </div>
    <div class="row">
      <div class="box-thumbnail col-sm-3 podcastImg"></div>
      <div class="col-sm-8 col-sm-push-1 podcastInfo">
        <h3><a href="">Podcast Title</a>
          <br><small>By: BIT</small>
        </h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque, autem in libero nostrum rerum eaque sint reprehenderit velit harum excepturi, fugiat asperiores necessitatibus beatae? Incidunt molestiae fuga, corrupti laudantium!
      </div>
    </div>
    <div class="row">
      <div class="box-thumbnail col-sm-3 col-sm-push-9 podcastImg "></div>
      <div class="col-sm-8 col-sm-pull-3 podcastInfo ">
        <h3><a href="">Podcast Title</a>
          <br><small>By: BIT</small>
        </h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque, autem in libero nostrum rerum eaque sint reprehenderit velit harum excepturi, fugiat asperiores necessitatibus beatae? Incidunt molestiae fuga, corrupti laudantium!
      </div>
    </div>
    <div class="row">
      <div class="box-thumbnail col-sm-3 podcastImg"></div>
      <div class="col-sm-8 col-sm-push-1 podcastInfo">
        <h3><a href="">Podcast Title</a>
          <br><small>By: BIT</small>
        </h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque, autem in libero nostrum rerum eaque sint reprehenderit velit harum excepturi, fugiat asperiores necessitatibus beatae? Incidunt molestiae fuga, corrupti laudantium!
      </div>
    </div>
    <div class="row">
      <div class="box-thumbnail col-sm-3 col-sm-push-9 podcastImg "></div>
      <div class="col-sm-8 col-sm-pull-3 podcastInfo ">
        <h3><a href="">Podcast Title</a>
          <br><small>By: BIT</small>
        </h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque, autem in libero nostrum rerum eaque sint reprehenderit velit harum excepturi, fugiat asperiores necessitatibus beatae? Incidunt molestiae fuga, corrupti laudantium!
      </div>
    </div>
    <div class="row">
      <div class="box-thumbnail col-sm-3 podcastImg"></div>
      <div class="col-sm-8 col-sm-push-1 podcastInfo">
        <h3><a href="">Podcast Title</a>
          <br><small>By: BIT</small>
        </h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque, autem in libero nostrum rerum eaque sint reprehenderit velit harum excepturi, fugiat asperiores necessitatibus beatae? Incidunt molestiae fuga, corrupti laudantium!
      </div>
    </div>
    <div class="row">
      <div class="box-thumbnail col-sm-3 col-sm-push-9 podcastImg "></div>
      <div class="col-sm-8 col-sm-pull-3 podcastInfo ">
        <h3><a href="">Podcast Title</a>
          <br><small>By: BIT</small>
        </h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque, autem in libero nostrum rerum eaque sint reprehenderit velit harum excepturi, fugiat asperiores necessitatibus beatae? Incidunt molestiae fuga, corrupti laudantium!
      </div>
    </div>
    <div class="row">
      <div class="box-thumbnail col-sm-3 podcastImg"></div>
      <div class="col-sm-8 col-sm-push-1 podcastInfo">
        <h3><a href="">Podcast Title</a>
          <br><small>By: BIT</small>
        </h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque, autem in libero nostrum rerum eaque sint reprehenderit velit harum excepturi, fugiat asperiores necessitatibus beatae? Incidunt molestiae fuga, corrupti laudantium!
      </div>
    </div>
    <div class="row">
      <div class="box-thumbnail col-sm-3 col-sm-push-9 podcastImg "></div>
      <div class="col-sm-8 col-sm-pull-3 podcastInfo ">
        <h3><a href="">Podcast Title</a>
          <br><small>By: BIT</small>
        </h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non atque, autem in libero nostrum rerum eaque sint reprehenderit velit harum excepturi, fugiat asperiores necessitatibus beatae? Incidunt molestiae fuga, corrupti laudantium!
      </div>
    </div>


  </div>
</div>
